.sticky-header {
    position: sticky;
    top: 0; /* Stick the header to the top of the viewport */
    z-index: 1000; /* Ensure the header stays on top of other content */
    
  }
  #space
  {
    padding-left: 250px;
    font-size: 22px;
    font-style: italic;
    color: antiquewhite;
  }
  #centre
  {
    text-align: center;
  }
 
  .background {
    background-image: url('/public/photo.avif');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    color:whitesmoke;
  }
  #space1
  {
    padding-left: 600px;
    font-size: 60px;
    font-style:oblique;
    padding-top: 40px;
    
  }
  .background2 {
    background-image: url('/public/images.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    color:whitesmoke;
  }
  #size
  {
height: 25px;
width: 300px;
padding-top: 10px;
margin-left: 500px;
margin-top: 15px;
background-color: bisque;
color: black;
border-radius: 10px;

 }
  #size1
  {
    margin-left: 500px;
    background-color: aqua;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
  }
  #down
  {
    margin-top: 20px;
  }
  .background3 {
    background-image: url('/public/images22.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    color:whitesmoke;
  }
  #border
  {
    
   border: 1px solid;
  }
  #green
  {
    color: rgb(83, 238, 88);
  }
  #red
  {
    color: #f30c0c;
  }